

@tailwind base;
@tailwind components;
@tailwind utilities;



#root {
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

html{
  height: 100%;
  width: 100%;
}